@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* Default styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1065px;
    margin: 0 auto;
}

/* Blocks */
.header {
    padding: 2% 0;
    min-height: 100px;
    background: linear-gradient(225deg, #5b85df, #3ec2e3);
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header__block {
    position: relative;
}

.header__link {
    text-decoration: none;
}

.header__icon {
    position: absolute;
    left: -25px;
    top: 13px;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    fill: #494b56;
}

.header__text {
    color: white;
    text-transform: uppercase;
}

.header__text--bold {
    color: white;
    font-weight: 700;
}

.nav {
    margin-top: 5px;
    min-height: 60px;
    background: linear-gradient(225deg, #5b85df, #3ec2e3);
}

.nav__list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 60px;
}

.nav__item {
    list-style-type: none;
    margin-left: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s linear;
}

.nav__item:hover {
    color: black;
}

.intro__title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #3c404e;
}

.intro__subtitle {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #3c404e;
}

.section_line {
    margin-top: 10px;
    min-height: 60px;
    background: linear-gradient(225deg, #5b85df, #3ec2e3);
}

.section_line__title {
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    color: white;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__link {
    width: 255px;
    height: 100%;
    text-decoration: none;
}

.services__block {
    margin-top: 5px;
    width: 255px;
    height: 275px;
}

.services__block:hover {
    box-shadow: 0 0 10px 5px #dddddd;
}

.services__img {
    width: 255px;
    height: 190px;
}

.services__subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.clients__wrapper {
    display: flex;
}

.clients__block {
    width: 180px;
    height: 180px;
    border: 1px solid #eeeeee;
}

.clients__logo {
    width: 120px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    text-align: center;
}

.contacts {
    margin: 40px auto;
    line-height: 35px;
}

.contacts a {
    color: #3949a0;
    text-decoration: none;
    font-weight: 700;
}

.contacts__address {
    font-style: normal;
}
