<div class="section_line">
    <div class="container">
        <h2 class="section_line__title">Наши контакты</h2>
    </div>
</div>

<footer class="footer">
    <div class="container">
       <div class="contacts">

            <address class="contacts__address">Москва, Куркинское шоссе, стр. 2, БЦ Aero-City, 14 этаж</address>
            <div class="contacts__phone">Телефон:

            <a href="tel:+74993228320">+7(499)322-83-20</a>

            </div>

            <div class="contacts__email">Email:
            <a href="mailto:info@it-support.pro">info@it-support.pro</a>
            </div>

        </div><!--/.contacts-->

    </div>

    <iframe class='map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1582.3681202048283!2d37.433812082366686!3d55.8833718435731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b538602460fb47%3A0x53f0f68dfd3baf51!2sAero%20City!5e0!3m2!1sru!2sru!4v1625128296810!5m2!1sru!2sru" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</footer>


