<div class="header">
    <div class="container">

        <div class="header__contacts">

            <div class="header__logo">
                <a class="header__logo-link" href="index.html" >
                    <img src="assets/img/logo.png" alt="IT Support">
                </a>
            </div>

            <div class="header__block">
                <a class="header__link" href="tel:+74993228320">

                   <svg class="header__icon">
                       <use xlink:href='#phone'></use>
                   </svg>



                    <div class="header__text">Позвоните нам</div>

                    <div class="header__text--bold">+7(499)322-83-20</div>
                </a>
            </div>

            <div class="header__block">

                <a class="header__link" href="mailto:info@it-support.pro">

                    <svg class="header__icon">
                       <use xlink:href='#mail'></use>
                   </svg>

                    <div class="header__text">Напишите нам</div>

                    <div class="header__text--bold">info@it-support.pro</div>
                </a>

            </div>

            <div class="header__block">

               <svg class="header__icon">
                       <use xlink:href='#clock'></use>
                   </svg>

                <div class="header__text">Время работы</div>

                <div class="header__text--bold">Ежедневно с 9.00 до 21.00</div>

            </div>

        </div> <!--/.header__contacts-->

    </div>

</div>


