.footer {
    text-align: center;

}

.contacts {
    margin: 40px auto;
    line-height: 35px;

    a {
        color: #3949a0;
        text-decoration: none;
        font-weight: 700;
    }
}



.contacts__address {
    font-style: normal;
}

