.intro__title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;

    color: #3c404e;
}

.intro__subtitle {
    text-align: center;

    font-size: 22px;
    font-weight: 400;

    color: #3c404e;
}
